.order {
    width: 350px;    
    height: 175px;
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 1%;
}

.order-image {
    width: 150px;
    height: 150px;
    float: left;
}