ion-title {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

ion-button {
  font-weight: bold;
}

.dayButton {
  width: 100%;
}

ion-row {
  justify-content: center;
}

ion-badge {
  position: absolute;
  top: 0;
  right: 0;
}