<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>
        <ion-text>Bite</ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>
        <ion-text>Profile</ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>
        <ion-text>Shopping Cart</ion-text>
      </ion-label>
      <ion-badge>0</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>